$blue: #0F3460;

$blue-transparent: rgba(15, 52, 96, 0.7);

$fontcolor: #eee;


$pink: #E94560;
$borderPink: 0.5rem solid $pink;
$borderPink-small: 0.2rem solid $pink;
$linear-gradient-default: linear-gradient(to bottom right, rgba(69, 25, 82, 0.7), 80%, rgba(174, 68, 90, 0.5));