@use 'colors';
@use 'fonts';

//Call to action button with hover

%cta{
    width: 10rem;
    padding: 0.7rem;
    font-size: 70%;
    border: none;
    background: colors.$pink;
    color: colors.$fontcolor;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

%cta:hover{
    cursor: pointer;
    background: darken(colors.$pink, $amount: 10%);
    transition: 0.2s;
}


//h2 heading for sections and header


%h2Handwriting{
    font-family: fonts.$handwriting;
    font-size: 380%;
    color: colors.$fontcolor;
}

// default sections

%section{
    background: #16213e;
    padding: 4rem;
    color: colors.$fontcolor;
    border-bottom: colors.$borderPink-small;
}

%icon{
    font-size: 250%;
    color: colors.$fontcolor;
    border: colors.$borderPink;
    border-radius: 50%;
    padding: 1.4rem;
}

// default header for sections

%header{
    width: 100%;
    display: flex;
    justify-content: center;
}


// image sizing 

%img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
