@use 'colors';
@use 'fonts';
@use 'components';

.kenmerken{
    @extend %section;
}

.kenmerken__header{
    background: #16213e;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 20%;
}

.kenmerken__h2{
    @extend %h2Handwriting;
}

.kenmerken__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    height: 80%;
}

.kenmerken__listItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: colors.$fontcolor;
    list-style: none;
    width: 40%;
    flex-shrink: 0;
}


.kenmerken__logo{
    @extend %icon;
    font-size: 180%
}


.kenmerken__p{
    width: 40ch;
}